{% extends 'parlourbase.html' %}
{% block content %}
<style>
    #data table {
     border-collapse: collapse;
     border: none;
   }
   th,td{
       padding: 10px;
   }
   th{
       background-color: black;
       color: white;
   }
   #data tr:nth-child(odd) {background-color: silver;}
   </style>
<center>
<div style="margin: 50px;">
    <hr>
    <h3>Treatment</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>Category</td>
                <td><select class="form-control" name="cat">
                    {% for d in cat %}
                    <option value="{{d.0}}">{{d.2}}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Name of treatment</td>
                <td><input type="text" class="form-control" name="txtName" required></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td><input type="radio" name="gender" value="Male">Male
                    <input type="radio" name="gender" value="Female">Female</td>
            </tr>
            <tr>
                <td>Description of treatment</td>
                <td><textarea class="form-control" name="txtDesc" required></textarea></td>
            </tr>
            <tr>
                <td>Rate</td>
                <td><input type="text" class="form-control" name="txtRate" pattern="[0-9]{2,6}" required></td>
            </tr>
            <tr>
                <td>Upload image</td>
                <td><input type="file" class="form-control" name="txtFile"  required></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-dark" value="Submit"></td>
            </tr>
        </table>
    </form>
    <hr>
    <table id="data" border="0" style="margin: 50px; width: 750px;">
        <tr>
            
            <th>NAME</th>
            <th>GENDER</th>
            <th>DESCRIPTION</th>
            <th colspan="2">RATE</th>
        </tr>
        {% for d in data %}
            <tr>
                
                <td>{{d.2}}</td>
                <td>{{d.3}}</td>
                <td>{{d.4}}</td>
                <td>{{d.5}}</td>
                <td><a href="/deltreatment?id={{d.0}}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
</center>
<script>
    var msg="{{msg}}";
    if(msg!="")
        alert(msg);
</script>
{% endblock %}